﻿body {
    margin:0px;
}
#justpark_logo
{
   /*margin-left:400px;*/
}
#color_white
{
    color:white;
}
#headerlogo
{
    height:10px;
}
#home_form li
{
    display:inline-block;
    list-style-type:none;
}
#Search_Button
{
    background-color:#0c0;
    width: 127px;
    border-radius:6px;
    height:35px;
}
/*#home_form_div
{
    background-color:#737373;
    /*opacity:0.15;*/
    /*z-index:1;*/

    
/*#yy
{
    z-index:2;
}*/