﻿
@*@{
    Layout = null;
}*@

<html>
<head>
    <link rel="stylesheet" type="text/css" href="Home.css">
    <title>

    </title>
</head>
<body background="~/Content/Images/Homebg.jpg">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("JUST PARK", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                   
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <br />
    <center>
       @*<img src="~/Content/Images/justparklogo.png" id="justpark_logo" />*@

        <h1 id="color_white">Park <span style="color:green;">My</span> Car</h1>
            <br />
            <h1 id="color_white">Find your perfect parking space</h1>
            <br />
            <span id="color_white">Trusted by over a millions drivers</span>
            <br />
            <div>
                <br />
                <ul id="home_form">
                    <li>
                        <input type="text" class="form-control" />
                    </li>
                    <li>
                        <input type="text" class="form-control" />
                    </li>
                    <li><button type="submit" id="Search_Button">Search</button></li>

                </ul>

            </div>




</center>
    
</body>
</html>
